icon_alert32 RCDATA "..\\pas\\Assets\\icon-message-alert-32x32.png"
icon_error32 RCDATA "..\\pas\\Assets\\icon-message-error-32x32.png"
icon_inform32 RCDATA "..\\pas\\Assets\\icon-message-inform-32x32.png"
icon_question32 RCDATA "..\\pas\\Assets\\icon-message-question-32x32.png"
icon_success32 RCDATA "..\\pas\\Assets\\icon-message-sucess-32x32.png"
icon_alert24 RCDATA "..\\pas\\Assets\\icon-message-alert-24x24.png"
icon_error24 RCDATA "..\\pas\\Assets\\icon-message-error-24x24.png"
icon_inform24 RCDATA "..\\pas\\Assets\\icon-message-inform-24x24.png"
icon_question24 RCDATA "..\\pas\\Assets\\icon-message-question-24x24.png"
icon_success24 RCDATA "..\\pas\\Assets\\icon-message-sucess-24x24.png"
